@font-face {
  font-family: 'Montserrat';
  src: url('./font/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-weight: 800px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%; /* Ensure the body and html take up full height */
}

body {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
}

.App {
  text-align: center;
  padding: 10px;
  flex-grow: 1; /* Allow the main content to grow and push footer to the bottom */
}

h1, h2 {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
  margin-top: 20px;
}

.subTitle {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  color: #333;
}

.app-header {
  padding: 20px;
  position: relative;
  height: auto;
}

.logo {
  width: 100px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.app-header h1 {
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  color: #333;
}

.app-header p {
  font-size: 1rem;
  margin-top: 10px;
}

.main-content {
  margin-top: 50px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.map-container {
  width: 100%;
  max-width: 700px;
  height: auto;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.map {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.medical-image img {
  width: 100%;
  max-width: 400px;
  height: auto;
}

.view-map-btn {
  margin-top: 30px;
}

.view-map-btn button {
  background-color: #00c853;
  color: white;
  padding: 10px 30px;
  font-size: 1rem;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.view-map-btn button:hover {
  background-color: #009624;
}

/* Popup custom styles */
.custom-popup .leaflet-popup-content-wrapper {
  background-color: #e0f7fa; /* Medical-themed blue */
  color: #006064;
  border-radius: 10px;
}

.custom-popup .leaflet-popup-tip {
  background: #e0f7fa;
}

.popupTimer {
  background-color: #00c853;
  color: white;
  padding: 5px 10px;
  border-radius: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Footer styles */
footer {
  background-color: #333;
  color: white;
  padding: 20px 0;
  margin-top: 50px;
  border-top-left-radius: 20px; /* Rounded top corners */
  border-top-right-radius: 20px; /* Rounded top corners */
  position: relative;
  bottom: 0;
  width: 100%;
}

.footer-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-section div {
  margin: 10px;
}

.footer-section h4 {
  margin-bottom: 10px;
}

.footer-section p {
  margin: 5px 0;
}

/* Responsive layout for small screens */
@media (min-width: 768px) {
  .App {
    padding: 20px;
  }

  .app-header {
    padding: 20px;
    position: relative;
    height: 150px;
  }

  .logo {
    width: 150px;
    top: 20px;
    right: 20px;
  }

  .app-header h1 {
    font-size: 4rem;
  }

  .app-header p {
    font-size: 1.2rem;
  }

  .content-wrapper {
    flex-direction: row;
    gap: 40px;
  }

  .map-container {
    width: 500px;
    height: 400px;
  }

  .medical-image img {
    width: 400px;
    height: auto;
  }

  footer {
    margin-top: 70px;
  }

  .footer-section {
    flex-direction: row;
    justify-content: space-around;
  }
}

/* Responsive layout for larger screens */
@media (min-width: 1024px) {
  .app-header h1 {
    font-size: 5rem;
  }

  .map-container {
    width: 700px;
    height: 500px;
  }
}
